<html>

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/attachments_list.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset_http); ?>">

		<meta http-equiv="Cache-control" content="<?php print($cache_control_http); ?>">

	</head>

	<body>

		<table class="list">

			<tr class="list">

				<td class="list" title="<?php print('Added: ' . $validated_date); ?>">

					<?php print($date); ?>

				</td>

				<td class="list">
				
					<h3 class="list" title="<?php print($validated_name); ?>">

						<?php print($name); ?>

					</h3>

					<p class="list" title="<?php print('Filesize: ' . readableBytes($validated_filesize) . ' | Filetype: ' . $validated_filetype); ?>">

						<?php print($info); ?>

					</p>

				</td>

				<td class="list">

					<a class="list" target="main-frame" href="<?php print($view); ?>" title="View file">

						<img class="list" src="../images/view.svg">

						</img>

					</a>

				</td>

				<td class="list">

					<a class="list" target="main-frame" href="<?php print($link); ?>" title="Download file">

						<img class="list" src="../images/download-file.svg">

						</img>

					</a>

				</td>

			</tr>

		</table>

		<br>

	</body>

</html>