<html>

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style); ?>/<?php print($device); ?>/attachments.css">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

		<meta http-equiv="Cache-control" content="no-cache">

		<title>

			Webchat | Attachments

		</title>

	</head>

	<body>

		<table class="sendFileSection">

			<tr>

				<td class="sendFileSection">

					<form class="sendFileSection" enctype="multipart/form-data" action="../functions/upload.php" method="POST">

						<a href="../main/" accesskey="b" target="main-frame">

							<input class="goBack" type="button" accesskey="b" value="" />

						</a>

						<a href="../attachments/" accesskey="u" target="main-frame">

							<input class="doUpdate" type="button" accesskey="u" value="" />

						</a>

						<input type="hidden" name="MAX_FILE_SIZE" value="2000000" />

						<input class="chooseFileButton" id="chooseFileButton" name="userfile" type="file" accesskey="c" onchange="uploadFile(this)" hidden />

						<label class="chooseFileButton" id="chooseFileButtonLabel" for="chooseFileButton" accesskey="c">

							Choose file...

						</label>

						<input class="sendFileButton" type="submit" accesskey="s" value="" />

					</form>

				</td>

			</tr>

		</table>

		<br>

		<script type="text/javascript" src="../scripts/attachments.js">

		</script>

	</body>

</html>