<html>

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/attachments.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset_http); ?>">

		<meta http-equiv="Cache-control" content="<?php print($cache_control_http); ?>">

		<title>

			Webchat | Attachments

		</title>

	</head>

	<body>

		<table class="sendFileSection">

			<tr>

				<td class="sendFileSection">

					<form class="sendFileSection" enctype="multipart/form-data" action="../functions/upload.php" method="POST">

						<a href="../main/" accesskey="b" target="main-frame">

							<input class="goBack" type="button" accesskey="b" value="" title="Go back" />

						</a>

						<a href="../attachments/" accesskey="u" target="main-frame">

							<input class="doUpdate" type="button" accesskey="u" value="" title="Update" />

						</a>

						<input type="hidden" name="MAX_FILE_SIZE" value="<?php print($upload_max_filesize); ?>" />

						<input class="chooseFileButton" id="chooseFileButton" name="userfile" type="file" accesskey="c" onchange="uploadFile(this)" hidden />

						<label class="chooseFileButton" id="chooseFileButtonLabel" for="chooseFileButton" accesskey="c" title="Choose file">

							Choose file...

						</label>

						<input class="sendFileButton" type="submit" accesskey="s" value="" title="Upload file" />

						<input class="maxFileSize" type="button" value="<?php print($readable_max_file_size); ?>" title="Max file size" />

					</form>

				</td>

			</tr>

		</table>

		<br>

		<button onclick="scrollTopPermanent()" class="buttonToTop" id="buttonToTop" accesskey="t" title="Scroll top">

			↑

		</button>

		<script type="text/javascript" src="../scripts/attachments.js">

		</script>

	</body>

</html>