<html>

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/attachments_list.css">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

		<meta http-equiv="Cache-control" content="no-cache">

	</head>

	<body>

		<table class="list">

			<tr class="list">

				<td class="list">

					<?php print("$date"); ?>

				</td>

				<td class="list">
				
					<h3 class="list">

						<?php print("$header"); ?>

					</h3>

					<p class="list">

						<?php print("$theme"); ?>

					</p>

				</td>

				<td class="list">

					<a class="list" target="main-frame" href="<?php print("$view"); ?>">

						<img class="list" src="../images/view.svg">

						</img>

					</a>

				</td>

				<td class="list">

					<a class="list" target="main-frame" href="<?php print("$link"); ?>">

						<img class="list" src="../images/download-file.svg">

						</img>

					</a>

				</td>

			</tr>

		</table>

		<br>

	</body>

</html>