<html lang="<?php print($language_http); ?>">

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/help.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset_http); ?>">

		<meta http-equiv="Cache-control" content="<?php print($cache_control_http); ?>">

		<title>

			Webchat | Help

		</title>

	</head>

	<body>

		<div class="textField">

			<h1>

				Help

			</h1>

			<p>

				Hello, there! This is short manual for Webchat. It supposed to help you if you have some questions

			</p>

			<br>

			<h2>

				Menu

			</h2>

			<p>

				<ul>

					<li> 

						Help

					</li>

					<li>

						Menu

					</li>

					<li>

						Hotkeys

					</li>

				</ul>

			</p>

			<br>

			<h2>

				Description

			</h2>

			<p>

				This is testing description. More detailed will come later...

			</p>

			<br>

			<h2>

				Hotkeys

			</h2>

			<p>

				<strong>

					Back:

				</strong>

				<ul>

					<li> 

						alt + shift + b

					</li>

					<li>

						alt + b

					</li>

				</ul>

			</p>

		</div>

		<a href="../main/" accesskey="b" class="goBack" target="main-frame">

			<input class="goBack" type="button" accesskey="b" value="" title="Go back" />

		</a>

	</body>

</html>
