<html>

	<head>

		<meta name="author" content="Dan Rednine">

		<meta name="description" content="Webchat">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

		<meta http-equiv="Cache-control" content="no-cache">
		
		<link rel="icon" href="./images/favicon.svg" type="image/svg">

		<link rel="stylesheet" content="text/css" href="./styles/<?php print($style . '/' . $device); ?>/main-container.css">

		<title>

			Webchat

		</title>

	</head>

	<body class="main-container">

		<iframe name="main-frame" class="main-container" src="./main/" allowfullscreen>

			Webchat

		</iframe>

	</body>

</html>
