<html>

	<head>

		<link rel="stylesheet" content="text/css" href="./styles/<?php print($style . '/' . $device); ?>/main-container.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset); ?>">

		<meta http-equiv="Cache-control" content="no-cache">

		<link rel="icon" href="./images/<?php print($favicon); ?>" type="<?php print($favicon_type); ?>">

		<meta name="author" content="Dan Rednine">

		<meta name="description" content="Webchat">

		<title>

			Webchat

		</title>

	</head>

	<body class="main-container">

		<iframe name="main-frame" class="main-container" src="./main/" allowfullscreen>

			Webchat

		</iframe>

	</body>

</html>
