<html>

	<head>

		<meta name="author" content="Dan Rednine">

		<meta name="description" content="Webchat">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

		<meta http-equiv="Cache-control" content="no-cache">

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style); ?>/<?php print($device); ?>/main.css">

		<title>

			Webchat | Main

		</title>

	</head>

	<body>

		<iframe class="update" src="../functions/update.php" scrolling="yes">

			Webchat | Update

		</iframe>

		<iframe class="post" src="../functions/post.php" scrolling="no">

			Webchat | Post

		</iframe>

	</body>

</html>