<html lang="<?php print($language_http); ?>">

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/mobile.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset_http); ?>">

		<meta http-equiv="Cache-control" content="<?php print($cache_control_http); ?>">

		<link rel="icon" href="../images/<?php print($favicon); ?>" type="<?php print($favicon_type); ?>">

		<meta name="author" content="Dan Rednine">

		<meta name="description" content="Webchat">

		<base target="_top">

		<meta name='viewport' content='width=device-width, height=device-height, minimum-scale=0.82, initial-scale=0.82, maximum-scale=0.82, user-scalable=no' />

		<meta name='HandheldFriendly' content='true' />

		<meta name='MobileOptimized' content='width' />

		<meta name='apple-mobile-web-app-capable' content='yes' />

		<title>

			Webchat | Mobile

		</title>

	</head>

</html>
