<html>

	<head>

		<meta http-equiv="Cache-control" content="no-cache">

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style); ?>/<?php print($device); ?>/post.css">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

	</head>

	<body>

		<form class="container" id="formContainer" action="../functions/post.php" method="POST">

			<textarea class="message" id="inputMessage" type="text" placeholder="Enter your message here..." name="message" accesskey="m" maxlenght="4096" autofocus="autofocus" autofocus focus></textarea>

			<input class="send" type="submit" id="submitMessage" value="" accesskey="s" />

			<input class="nickname" type="text" placeholder="Nickname" name="nickname" maxlenght="128" accesskey="n" value="<?php print($_POST["nickname"]); ?>" />

			<a href="../attachments/" accesskey="a" target="main-frame">

				<input class="attachments" accesskey="a" type="button" value="" />

			</a>

			<a href="../" accesskey="f" target="window">

				<input class="fullscreen" accesskey="f" type="button" value="" />

			</a>

			<a href="../help/" accesskey="h" target="main-frame">

				<input class="help" accesskey="h" type="button" value="" />

			</a>

		</form>

		<script type="text/javascript" src="../scripts/post.js">

		</script>

	</body>

</html>