<html lang="<?php print($language_http); ?>">

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/throw.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset_http); ?>">

		<meta http-equiv="Cache-control" content="<?php print($cache_control_http); ?>">

		<link rel="icon" href="../images/<?php print($favicon); ?>" type="<?php print($favicon_type); ?>">

		<meta name="author" content="Dan Rednine">

		<meta name="description" content="Webchat">

		<base target="_top">

		<title>

			Webchat | Warning

		</title>

	</head>

	<body>

		<table id="mainContainer" class="mainContainer">

			<tr id="mainContainer" class="mainContainer">

				<td id="mainContainer" class="mainContainer">

					<table id="thrownFormContainer" class="thrownFormContainer">

						<tr id="thrownFormContainer" class="thrownFormContainer">

							<td id="thrownFormContainer" class="thrownFormContainer">

								<div id="thrownMessageContainer" class="thrownMessageContainer">

									<p id="thrownMessageContainer" class="thrownMessageContainer">

										<img id="thrownMessage" class="thrownMessage" src="../images/warning.svg"></img>

										<p id="thrownMessage" class="thrownMessage">

											<?php print($throw_message); ?>

										</p>

									</p>

								</div>

							</td>

						</tr>

					</table>

				</td>

			</tr>

		</table>

	</body>

</html>
