<html>

	<head>

		<meta http-equiv="Cache-control" content="no-cache">

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/update.css">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

	</head>

	<body>

		<output id="chatOutput">

		</output>

			<button onclick="scrollDownPermanent()" class="buttonToDown" id="buttonToDown" accesskey="d">

				↓

			</button>

		<script type="text/javascript" src="../scripts/update.js">

		</script>

	</body>

</html>