<html lang="<?php print($language_http); ?>">

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/update.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset_http); ?>">

		<meta http-equiv="Cache-control" content="<?php print($cache_control_http); ?>">

	</head>

	<body>

		<br>

		<output id="chatOutput" class="chatOutput">

			<br>

		</output>

		<button onclick="scrollDownPermanent()" class="buttonToDown" id="buttonToDown" accesskey="d" title="Scroll down">

			↓

		</button>

		<script type="text/javascript" src="../scripts/update.js">

		</script>

	</body>

</html>
