<html>

	<head>

		<link rel="stylesheet" content="text/css" href="../styles/<?php print($style . '/' . $device); ?>/view.css">

		<meta http-equiv="Content-Type" content="text/html" charset="<?php print($charset); ?>">

		<meta http-equiv="Cache-control" content="no-cache">

		<title>

			Webchat | View

		</title>

	</head>

	<body>

		<table class="viewFileSection">

			<tr>

				<td class="viewFileSection">

					<form class="viewFileSection">

						<a href="../attachments/" accesskey="b" target="main-frame">

							<input class="goBack" type="button" accesskey="b" value="" title="Go back" />

						</a>

						<a href="../functions/view.php?id=<?php print($GETFILEID); ?>" accesskey="r" target="main-frame">

							<input class="doRefresh" type="button" accesskey="r" value="" title="Refresh" />

						</a>

						<input class="fileStatsField" type="button" value="<?php print($filename); ?>" title="File name" />

						<input class="fileStatsField" type="button" value="<?php print($filetype); ?>" title="File type" />

						<input class="fileStatsField" type="button" value="<?php print($filesize_readable); ?>" title="File size" />

						<input class="fileStatsField" type="button" value="<?php print($date); ?>" title="Upload date" />

						<a href="../functions/download.php?id=<?php print($GETFILEID); ?>" accesskey="g" target="main-frame">

							<input class="downloadFileButton" type="button" accesskey="g" value="" title="Download file" />

						</a>

					</form>

				</td>

			</tr>

		</table>

		<br>

	</body>

</html>