table.sendFileSection

{

	border-radius: 20px;

	background-color: #EEEEEE;

	margin-left: auto;

	margin-right: auto;

	width: 100%;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

}

table.sendFileSection:hover

{

	box-shadow: 0px 0px 4px 2px rgba(50, 150, 200, 0.6);

	transition: box-shadow 0.2s linear;

}

td.sendFileSection

{

	text-align: center;

	vertical-align: middle;

	height: 64px;

}

form.sendFileSection

{

	text-align: center;

	margin: auto;

}

input.chooseFileButton

{

	display: none;

	opacity: 0;

	visibility: hidden;

}

label.chooseFileButton::-webkit-scrollbar

{

	display: none;

}

label.chooseFileButton

{

	overflow: hidden;

	overflow: -moz-scrollbars-none;

	overflow-x: auto;

	scrollbar-width: none;

	-ms-overflow-style: none;

	white-space: nowrap;

	word-wrap: normal;

	display: inline-block;

	position: relative;

	background-color: white;

	border-radius: 20px;

	height: 40px;

	line-height: 40px;

	margin-left: auto;

	margin-right: auto;

	vertical-align: middle;

	min-width: 100px;

	width: 40%;

	max-width: 400px;

	text-align: left;

	padding-left: 10px;

	padding-right: 10px;

	border: none;

	outline: none;

	cursor: pointer;

	float: center;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

}

label.chooseFileButton:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

label.chooseFileButton:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.sendFileButton

{

	background: url(../../../images/upload-file.svg) no-repeat;

	background-size: 50%;

	background-position: center;

	cursor: pointer;

	border: none;

	outline: none;

	float: right;

	background-color: white;

	border-radius: 50%;

	width: 40px;

	height: 40px;

	vertical-align: middle;

	margin-right: 15px;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

}

input.sendFileButton:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.sendFileButton:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.goBack

{

	background: url(../../../images/back.svg) no-repeat;

	background-size: 50%;

	background-position: center;

	background-color: white;

	margin-left: 15px;

	border: none;

	float: left;

	border-radius: 50%;

	width: 35px;

	height: 35px;

	outline: none;

	cursor: pointer;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

}

input.goBack:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.goBack:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.doUpdate

{

	background: url(../../../images/update.svg) no-repeat;

	background-size: 50%;

	background-position: center;

	background-color: white;

	margin-left: 15px;

	border: none;

	float: left;

	border-radius: 50%;

	width: 35px;

	height: 35px;

	outline: none;

	cursor: pointer;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

}

input.doUpdate:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.doUpdate:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.maxFileSize

{

	color: red;

	cursor: pointer;

	border: none;

	outline: none;

	float: right;

	background-color: white;

	border-radius: 50%;

	width: 40px;

	height: 40px;

	vertical-align: middle;

	margin-right: 15px;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

	animation-name: none;

	-webkit-animation-name: none;

	-moz-animation-name: none;

	animation-duration: 1s;

	-webkit-animation-duration: 1s;

	-moz-animation-duration: 1s;

	animation-iteration-count: infinite;

	-webkit-animation-count: infinite;

	-moz-animation-count: infinite;

	animation-timing-function: ease;

	-webkit-animation-timing-function: ease;

	-moz-animation-timing-function: ease;

}

input.maxFileSize:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

input.maxFileSize:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

@keyframes maxFileSizeExceeded

{

	0%

	{

		box-shadow: 0px 0px 6px 3px rgba(200,0,0,0.5);

	}

	50%

	{

		box-shadow: 0px 0px 4px 5px rgba(200,0,0,0.5);

	}

	100%

	{

		box-shadow: 0px 0px 6px 3px rgba(200,0,0,0.5);

	}

}

@-webkit-keyframes maxFileSizeExceeded

{

	0%

	{

		box-shadow: 0px 0px 6px 3px rgba(200,0,0,0.5);

	}

	50%

	{

		box-shadow: 0px 0px 4px 5px rgba(200,0,0,0.5);

	}

	100%

	{

		box-shadow: 0px 0px 6px 3px rgba(200,0,0,0.5);

	}

}

@-moz-keyframes maxFileSizeExceeded

{

	0%

	{

		box-shadow: 0px 0px 6px 3px rgba(200,0,0,0.5);

	}

	50%

	{

		box-shadow: 0px 0px 4px 5px rgba(200,0,0,0.5);

	}

	100%

	{

		box-shadow: 0px 0px 6px 3px rgba(200,0,0,0.5);

	}

}

button.buttonToTop

{

	background: url(../../../images/scroll-top.svg) no-repeat;

	background-size: 50%;

	background-position: center;

	border: none;

	outline: none;

	width: 45px;

	height: 45px;

	border-radius: 50%;

	background-color: LightGray;

	position: fixed;

	bottom: 25px;

	right: 25px;

	z-index: 100;

	cursor: pointer;

	display: none;

	opacity: 100%;

	animation-name: show-buttonToTop;

	-webkit-animation-name: show-buttonToTop;  

	-moz-animation-name: show-buttonToTop;

	animation-duration: 0.5s;

	-webkit-animation-duration: 0.5s;

	-moz-animation-duration: 0.5s;

	animation-timing-function: ease;

	-webkit-animation-timing-function: ease;

	-moz-animation-timing-function: ease;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	transition: box-shadow 0.2s linear;

}

button.buttonToTop:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

button.buttonToTop:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.2s linear;

}

@keyframes show-buttonToTop 

{

	0%

	{

		opacity: 0%;

    	}

	100% 

	{

		opacity: 100%;

	}       

}
 
@-webkit-keyframes show-buttonToTop

{

	0%

	{

		opacity: 0%;

	} 
	 
	100%

	{

		opacity: 100%;

	}

}

@-moz-keyframes show-buttonToTop

{

	0%

	{

		opacity: 0%;

	} 
	 
	100%

	{

		opacity: 100%;

	}

}