html

{

	max-width: 100%;

	overflow-x: hidden;

}

body

{

	max-width: 100%;

	overflow-x: hidden;

}

output.chatOutput

{

	min-width: 100%;

	width: 100%;

	max-width: 100%;

}

div.myMessageWhole

{

	margin-left: auto;

	margin-right: 4%;

	background-color: #EEEEEE;

	padding: 12px 10px 1px 10px;

	min-width: 200px;

	width: fit-content;

	width: -moz-fit-content;

	max-width: 45%;

	border-radius: 10px;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	border-right: lightskyblue solid 1px;

	opacity: 100%;

	animation-name: show-my-added-message;

	-webkit-animation-name: show-my-added-message;  

	animation-duration: 0.5s;

	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;

	-webkit-animation-timing-function: ease;

}

@keyframes show-my-added-message 

{

	0%

	{

		opacity: 0%;

		transform: translateX(+150%);
    	}

	70% 

	{

		transform: translateX(+150%);

	} 
	  

	100% 

	{

		opacity: 100%;

		transform: translateX(0%);

	}       

}
 
@-webkit-keyframes show-my-added-message

{

	0%

	{

		opacity: 0%;

		-webkit-transform: translateX(+150%);

	}

	70%

	{

		-webkit-transform: translateX(+150%);

	}  
	 
	100%

	{

		opacity: 100%;

		-webkit-transform: translateX(0%);

	}

}

div.messageWhole

{

	margin-left: 4%;

	margin-right: auto;

	background-color: #EEEEEE;

	padding: 12px 10px 1px 10px;

	min-width: 200px;

	width: fit-content;

	width: -moz-fit-content;

	max-width: 45%;

	border-radius: 10px;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	border-left: lightskyblue solid 1px;

	opacity: 100%;

	animation-name: show-added-message;

	-webkit-animation-name: show-added-message;  

	animation-duration: 0.5s;

	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;

	-webkit-animation-timing-function: ease;

}

@keyframes show-added-message 

{

	0%

	{

		opacity: 0%;

		transform: translateX(-150%);
    	}

	70%

	{

		transform: translateX(-150%);

	}

	100% 

	{

		opacity: 100%;

		transform: translateX(0%);

	}       

}
 
@-webkit-keyframes show-added-message

{

	0%

	{

		opacity: 0%;

		-webkit-transform: translateX(-150%);

	}

	70%

	{

		-webkit-transform: translateX(-150%);

	}  

	100%

	{

		opacity: 100%;

		-webkit-transform: translateX(0%);

	}

}

div.messageInfo

{

	min-width: 100%;

	width: 100%;

	max-width: 100%;

	display: block;

}

div.messageInfoUser

{

	display: inline;

	color: blue;

}

div.messageBody

{

}

xmp.messageInfoUser

{

	white-space: pre-wrap;

	word-wrap: break-word;

	position: relative;

	display: inline;

	color: blue;

	padding-right: 10px;

}

div.messageInfoTime

{

	display: inline;

	float: right;

	color: LightGray;

}

xmp.messageInfoTime

{

	position: relative;

	display: inline;

	color: LightGray;

}

xmp.messageBody

{

	white-space: pre-wrap;

	word-wrap: break-word;

	color: black;

}

button.buttonToDown

{

	background: url(../../../images/scroll-down.svg) no-repeat;

	background-size: 50%;

	background-position: center;

	border: none;

	outline: none;

	width: 45px;

	height: 45px;

	border-radius: 50%;

	background-color: LightGray;

	position: fixed;

	bottom: 25px;

	right: 25px;

	z-index: 100;

	cursor: pointer;

	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

	display: none;

	opacity: 100%;

	animation-name: show-buttonToDown;

	-webkit-animation-name: show-buttonToDown;  

	animation-duration: 0.5s;

	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;

	-webkit-animation-timing-function: ease;

}

button.buttonToDown:hover

{

	box-shadow: 0px 0px 6px 3px rgba(50,150,200,0.5);

	transition: box-shadow 0.3s linear;

}

button.buttonToDown:focus

{

	box-shadow: 0px 0px 4px 5px rgba(50,150,200,0.5);

	transition: box-shadow 0.3s linear;

}

@keyframes show-buttonToDown 

{

	0%

	{

		opacity: 0%;

    	}

	100% 

	{

		opacity: 100%;

	}       

}
 
@-webkit-keyframes show-buttonToDown

{

	0%

	{

		opacity: 0%;

	} 
	 
	100%

	{

		opacity: 100%;

	}

}